# KubeCuro Artifacts
*.kubecuro.backup
*.kubecuro.tmp

# Test Data
kubecuro_chaos_test/
kubecuro_rigor_test/

# Python Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/
dist/
build/
*.tmp
